@{
    ViewBag.Title = "CustomerReport_Company";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="page-title">
    <i class="icon-custom-left"></i>

    <h3 id="path">Rapporter&gt; Kundrapporter&gt; Företag </h3>
    <br />
</div>


<div class="col-lg-12">

    <ul id="myTab" class="nav nav-tabs">
        <li class=""><a id="b1" href="/Admin/CustomerReport_Private">Privat</a></li>
        <li class="active"><a id="b2" href="/Admin/CustomerReport_Company">Företag</a></li>
    </ul>
    <!-- Form Start -->
    
    

    <div class="container-fluid  " style="background-color:white ;overflow-y:auto ;overflow-x:auto;">
        
            <!-- 1st r -->

        <div class="form-group col-sm-4 " style="padding-top:12px">
            <select name="" class="form-control " id="Choosecmpy" >
                <option value=""> Företag</option>
                @foreach (var x in Model)
                {
                    <option value="@x.ChooseCompany">@x.ChooseCompany</option>
                }
            </select>
        </div>
        <div class="form-group col-sm-4 " style="padding-top:12px">
            <select name="" class="form-control " id="Contactpersn">
                <option value="">Kontaktperson</option>
                @foreach (var x in Model)
                {
                    <option value="@x.ContactPerson">@x.ContactPerson</option>
                }
            </select>
        </div>
            
        <div class="row" id="frm_pad" style="padding-top:15px;">
            <div class="col-sm-12 form-group">
                <button id="search" class="btn btn-success btn-rounded pull-right" type="button" onclick="Search3()">Sök</button>
                <script>

                    function Search3() {
                        
                        var ChooseCompany = $("#Choosecmpy").val().toString();
                        var ContactPerson = $("#Contactpersn").val().toString();
                   
                        $.getJSON("/Admin/SearchResult321",
                            
                            {
                                ChooseCompany: ChooseCompany,
                                ContactPerson: ContactPerson
                            },

                            function (data) {
//                                alert("ok");
                       //      alert(data.length);
                         //       console.log(data);
                                
                                if (data != null) {
                                    var str = "";
                                    for (var i = 0; i < data.length; i++)
                                    {
                                        str += "<tr>"
                                        str += "<td id='r" + i + "'>" + data[i].LicensePlate + "</td>";
                                        str += "<td id='r" + i + "'>" + data[i].ChassiNumber + "</td>";
                                        str += "<td id='r" + i + "'>" + data[i].date + "</td>";
                                        str += "<td id='r" + i + "'>" + data[i].z[0].PriceExVAT + "</td>";
                                        str += "</tr>";
                                    }

                                }
                                else if (data == false)
                                {
                                    alert("Sorrry no record");
                                }
                                $('#abcd').html(str);
                            });

                    };
                </script>

            </div>
</div>

            <table class="table table-striped">
                <caption>&nbsp;</caption>
                <thead>
                    <tr>
                        <th>Registreringsnummer</th>
                        <th>Chassinummer</th>
                        <th>Datum</th>
                        <th>Pris</th>

                    </tr>
                </thead>
                <tbody id="abcd"></tbody>
            </table>
        </div>
</div>