.nav.nav-tabs > li > a  {
    background-color: #ebebeb;
    color: #121212;

}

#myTab {

    border-bottom:0;
    margin-left:-1px;
    
}

#signup 
{
    margin-bottom:10px;
}
#frm_pad {

padding-left:12px;
padding-right:1px;
}
.form-group {
    margin-bottom: 0px;
}

.form-control:focus {
    border-color: black;
  
}

#sid_sub:focus, #sid_sub:hover {
    background-color:#000000;
}

#path 
{
    color:black
    
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    padding-right: 6px;
    padding-left: 0px;
    padding-bottom:6px;
}

#sidebar-charts hr.divider, li.divider {
    border: 0;
    height: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    background: -moz-linear-gradient(left,rgba(205,205,205,0),#4D4D4D,rgba(205,205,205,0));
    background: -o-linear-gradient(left,rgba(205,205,205,0),#4D4D4D,rgba(205,205,205,0));
    background: linear-gradient(left,rgba(205,205,205,0),#4D4D4D,rgba(205,205,205,0));
    position: relative;
}
.sidebar-charts-inner {
    padding: 15px 15px 10px 20px;
    height: 53px;
    border-bottom: 1px solid #20262B;
    border-bottom-width: 0px;
}
